
PORT=8008
NODE_ENV=development #Dev

# DB-Docker
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=your-DB_USERNAME
DB_PASSWORD=your-DB_PASSWORD
DB_DATABASE=your-Db

# JWT
JWT_SECRET=generate with node-crypto
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:3000